/* The whole page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/tree_bark.png');
    display: flex;
    flex-direction: column;
}

/* The Header */
header {
    width: 100%;
    background: #cce89d;
    height: 76.667px;
    overflow: auto;
    clear: both;
    border-bottom: 2px solid #334f04;
    background-size: 100%;
}

.header_content {
    width: 960px;
    margin: 0 auto 0 auto;
}

nav {
    float: right;
    height: 22px;
    text-align: right;
    width: 30%;
    color: #334f04;
    padding: 27px 0 27px 0;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#my_name {
    color: #f1f1f1;
    background: #7f9b50;
    margin: 0;
    padding: 20px;
    width: 20%;
    text-align: center;
    float: left;
}

.header_link {
    padding: 3px;
    color: #777777;
}

.active {
    color: #334f04;
    padding: 3px;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #cccccc;
}

/* General Content */
.content {
    width: 900px;
    margin: 30px auto 30px auto;
    background: #ffffff;
    padding: 30px;
}

.not_footer {
    flex: 1 0 auto;
}

.page_title {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
}

/* About Me Page*/
#me {
    height: 300px;
    float: left;
    margin: 0 20px 10px 0;
    border: 2px ridge #cccccc;
    border-radius: 5px;
}

p {
    color: #777777;
    line-height: 25px;
}


/* Contact Form */
input {
    width: 890px;
    padding: 5px;
    margin: 5px 0 15px 0;
}

#submit {
    width: 10%;
    color: #ffffff;
    background: #4aaaa5;
    border: 1px solid;
    border-color: #cccccc;
    cursor: pointer;
    padding: 8px 0 8px 0;
}

#submit:hover {
    background: #cccccc;
}

#message {
    width: 890px;
    padding: 5px;
    margin: 5px 0 15px 0;
}


/* Portfolio Images*/
.folio_img {
    width: 100%;
}

.image_description {
    color: #ffffff;
    background: #4aaaa5;
    width: 86%;
    padding: 7%;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 10px;
    font-size: 0.83em;
    font-weight: bold;
}

.image_description:hover {
    color: #777777;
    background: #cccccc;
}

.image-desc {
    float: left;
    margin: 0 10% 5% 0;
    width: 30%;
    position: relative;
}

.images {
    content: "";
    display: table;
    clear: both;
}

#last_image {
    margin-bottom: 0;
}


/* Footer */
footer {
    background: #9b754f;
    color: #4f2903;
    text-align:center;
    padding: 10px 0 2px 0;
    flex-shrink: 0;
    width: 100%;
    border-top: 5px solid #4f2903;
}
